<mat-card class="notes-list-card">
    <div style="text-align: center; margin-bottom: 15px;">
      <mat-card-title>volutpat ac</mat-card-title>
    </div>
    <mat-card-content>
      <p>
        vulputate dignissim suspendisse in est ante in nibh mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo elit
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Update Note</button>
    </mat-card-actions>
  </mat-card>

<button mat-raised-button color="primary" class="addNoteButton">Add Note</button>
